.introDescription {
  width: 432px;
}
.introServices {
  font-size: 26px;
  ul.introServicesList {
    margin-left: 342px;
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      margin: 7px 0;
      &:hover {
        a {
          color: white;
        }
      }
    }
  }
}
.verticalMargin {
  margin: auto 0;
}
.height100 {
  display: flex;
  height: 100%;
}

.introButton {
  margin-top: 26px;
}
.leftSection {
  position: relative;
  .leftPie {
    position: absolute;
    right: -16px;
    top: 50%;
  }
  .leftA,
  .bottomA,
  .topA {
    position: absolute;
  }
  .leftA {
    left: 0;
  }
  .topA {
    top: 0;
  }
  .bottomA {
    bottom: 0;
  }
}
.rightSection {
  position: relative;
  overflow: hidden;
  .rightPie {
    position: absolute;
    left: 0;
    top: 49.7%;
  }
  .orbit {
    position: absolute;
    left: 1;
    top: 49.7%;
  }
}
