@import "../global_variables.scss";

.introDescription {
  max-width: 432px;
  @media (max-width: 719px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto !important;
  }
}
.introServices {
  font-size: 26px;
  @media (max-width: 1400px) {
    display: none;
  }
  ul.introServicesList {
    margin-left: 342px;
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      padding: 4px 0;
      &:hover {
        a {
          color: white;
        }
      }
    }
  }
}
.verticalMargin {
  margin: auto 0;
}
.height100 {
  display: flex;
  height: 100%;
}

.introButton {
  margin-top: 26px;
}
.descriptionDesktop {
  @media (max-width: 719px) {
    display: none;
  }
}
.leftSectionFrame {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 719px) {
    flex-direction: column;
  }
  .leftSection {
    position: relative;
    min-width: 765px;
    margin-left: 25px;
    @media (max-width: 1580px) {
      margin-left: 45px;
    }

    @media (max-width: 500px) {
      padding: 0;
      min-width: 100%;
    }
    @media (max-width: 719px) {
      margin-left: 0px;
      min-width: 100%;
      text-align: center;
      h2 {
        max-width: 321px;
      }
    }
    .leftPie {
      position: absolute;
      right: -16px;
      top: 50%;
      margin: auto;
      max-width: 350px !important;
      @media (max-width: 719px) {
        position: initial;
        right: 0;
        top: 0;
        max-width: 100%;
        height: auto;
      }
      @media (max-width: 500px) {
        max-width: 300px !important;
      }
    }
    .leftA,
    .bottomA,
    .topA {
      position: absolute;
    }
    .leftA {
      left: 0;
    }
    .topA {
      top: 0;
    }
    .bottomA {
      bottom: 0;
    }
  }
}

.rightSection {
  position: relative;
  overflow: hidden;
  @media (max-width: 970px) {
    flex: 0;
  }

  @media (max-width: 790px) {
    display: none;
    flex: 10 0;
  }
  .rightPie {
    position: absolute;
    left: 0;
    top: 49.7%;
  }
  .orbit {
    position: absolute;
    left: 1;
    top: 49.7%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    justify-items: center;
  }
}

.firstSection {
  padding-right: 20px;
  padding-left: 20px;
  .left {
    display: flex;
    margin: auto 110px auto auto;
    @media (max-width: 1000px) {
      margin: auto;
    }
  }
  .right {
    max-width: 450px;
    margin-left: 15px;
  }
  .ul {
    ul {
      padding: 0 1.5em;
      li {
        margin: 15px 0;
        @media (max-width: 768px) {
          margin: 5px 0;
        }
      }
    }
  }
}
.secondSection {
  padding-right: 20px;
  padding-left: 20px;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .left {
    max-width: 380px;
    margin: auto 150px auto auto;
    @media (max-width: 1000px) {
      margin: 0;
    }
  }
  .right {
    display: flex;
    margin: auto auto auto 110px;
    @media (max-width: 1000px) {
      margin: 0;
    }
  }
}

.thirdSection {
  display: flex;
  background: $accent-color;
  .clients {
    margin: auto;

    h2.header {
      color: $invert-text-color;
      text-align: center;
      margin-bottom: 1.3em;
    }
    .imagesGrid {
      display: grid;
      grid-template-columns: repeat(5, minmax(70px, 1fr));
      grid-gap: 70px 140px;
      justify-items: center;
      align-items: center;
    }
  }
}
.forthSection {
  background: $invert-text-color;
  h3 {
    font-size: 25px;
    color: $primary-color;
  }
  .instructions {
    margin: auto;
    .header {
      text-align: center;
      h2 {
        color: $accent-color;
      }
      h3 {
        margin-bottom: 1.3em;
      }
    }

    .cardsGrid {
      display: grid;
      grid-template-columns: repeat(5, minmax(130px, 1fr));
      grid-gap: 70px 10px;
      justify-items: center;
      align-items: flex-end;
      text-align: center;
      .content {
        min-height: 95px;
        p,
        h3 {
          margin: 0.5em;
          line-height: 26px;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      min-height: 150px;
      align-items: center;
      justify-content: flex-end;
      > * {
        margin: 0 57px;
      }
      .zebra {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline;
            font-size: 36px;
            &:first-child {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.fifthSection {
  .right {
    max-width: 488px;
  }
  .ul {
    max-width: 450px;
  }
}

.sixthSection {
  justify-content: center;
  h2 {
    max-width: 900px;
    text-align: center;
  }
}

.seventhSection {
  .right {
    max-width: 650px;
  }
}
