@import "../global_variables.scss";

.legal {
  position: fixed;
  right: -15px;
  top: calc(50% - 25px);
  // transform: rotate(-90deg);
  width: 64px;
  z-index: 99;
  padding: 5px 10px !important;
  border-radius: 8px 8px 0 0 !important;
}
.introDescription {
  display: flex;
  align-items: center;
  @media (max-width: 719px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: auto !important;
    padding-bottom: 30px;
    height: 100%;
  }
}
.introServices {
  font-size: 26px;
  @media (max-width: 1390px) {
    display: none;
  }
  ul.introServicesList {
    margin-left: 342px;
    list-style: none;
    padding: 0;
    @media (max-width: 1530px) {
      margin-left: 300px;
    }
    li {
      cursor: pointer;
      padding: 4px 0;
      &:hover {
        a {
          color: white;
        }
      }
    }
  }
}
.verticalMargin {
  margin: auto 0;
}
.height100 {
  display: flex;
  height: 100%;
}

.introButton {
  margin-top: 26px;
}
.descriptionDesktop {
  @media (max-width: 719px) {
    display: none;
  }
}
.intro {
  background-size: 60% 100%;
  background-position: left center;
  background-repeat: no-repeat;

  @media (max-width: 1530px) {
    background-size: contain;
    background-repeat: repeat;
  }
}
.leftSectionFrame {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 719px) {
    flex-direction: column;
  }
  .leftSection {
    position: relative;
    min-width: 765px;
    margin-left: 25px;
    @media (max-width: 1580px) {
      margin-left: 45px;
      min-width: 725px;
    }

    @media (max-width: 500px) {
      padding: 0;
      min-width: 100%;
    }
    @media (max-width: 719px) {
      margin-left: 0px;
      min-width: 100%;
      text-align: center;
      h2 {
        max-width: 321px;
      }
    }
    .buttonMobile {
      @media (min-width: 719px) {
        display: none;
      }
    }
    .leftPie {
      margin-right: -16px;

      @media (max-width: 719px) {
        position: initial;
        right: 0;
        top: 0;
        max-width: 100%;
        height: auto;
      }
      @media (max-width: 500px) {
        max-width: 300px !important;
      }
      &.leftPieMobile {
        display: none;
        @media (max-width: 719px) {
          display: initial;
        }
      }
      &.leftPieDesktop {
        display: none;
        @media (min-width: 719px) {
          display: initial;
        }
      }
    }
    .leftA,
    .bottomA,
    .topA {
      position: absolute;
    }
    .leftA {
      left: 0;
    }
    .topA {
      top: 0;
    }
    .bottomA {
      bottom: 0;
    }
  }
}

.rightSection {
  position: relative;
  overflow: hidden;
  @media (max-width: 970px) {
    flex: 0;
  }

  @media (max-width: 790px) {
    display: none;
    flex: 10 0;
  }
  .rightPie {
    position: absolute;
    left: 0;
    top: 49.7%;
  }
  .orbit {
    position: absolute;
    left: 1;
    top: 49.7%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  @media (max-width: 1024px) {
    // grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.firstSection {
  padding-right: 20px;
  padding-left: 20px;
  justify-content: flex-start;
  .left {
    display: flex;
    margin: auto 110px auto auto;
    @media (max-width: 768px) {
      display: grid;
      line-height: 0;
    }

    @media (max-width: 1024px) {
      margin: 0;
    }
  }
  .right {
    max-width: 450px;
    margin-left: 15px;
    @media (max-width: 1024px) {
      // margin: 0px 20px;
      margin: auto 20px;
    }
  }
  .ul {
    ul {
      padding: 0 1.5em;
      li {
        margin: 15px 0;
        @media (max-width: 768px) {
          margin: 5px 0;
        }
      }
    }
  }
}
.secondSection {
  padding-right: 20px;
  padding-left: 20px;
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .left {
    max-width: 380px;
    margin: auto 150px auto auto;
    @media (max-width: 1024px) {
      margin: auto 20px;
    }
  }
  .right {
    display: flex;
    margin: auto auto auto 110px;
    @media (max-width: 768px) {
      display: grid;
      line-height: 0;
    }
    @media (max-width: 1024px) {
      margin: 0;
    }
  }
}

.thirdSection {
  display: flex;

  .clients {
    margin: auto;

    h2.header {
      color: $invert-text-color;
      text-align: center;
      margin-bottom: 1.3em;
      padding-right: 20px;
      padding-left: 20px;
    }
    .imagesGrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer-events: none;
      .gridImage {
        display: flex;
        justify-content: center;
        @media (max-width: 680px) {
          img {
            max-width: 50%;
          }
        }
      }
    }
  }
}
.forthSection {
  background: $invert-text-color;
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: 680px) {
    padding-bottom: 100px !important;
  }
  h3 {
    font-size: 25px;
    color: $primary-color;
    @media (max-width: 680px) {
      font-size: 18px;
    }
  }
  .instructions {
    margin: auto;
    z-index: 1;

    @media (max-width: 680px) {
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    img {
      @media (max-width: 1530px) {
        max-width: 70%;
        height: auto;
      }
      @media (max-width: 680px) {
        height: auto;
        margin-right: 10px;
      }
    }
    .header {
      text-align: center;
      h2 {
        color: $accent-color;
      }
      h3 {
        margin: 0.5em;
        font-weight: bold;

        @media (min-width: 1530px) {
          margin-bottom: 1.3em;
          font-weight: normal;
        }
        @media (max-width: 680px) {
          display: none;
        }
      }
    }

    .cardsGrid {
      display: grid;
      grid-template-columns: repeat(5, minmax(130px, 1fr));
      grid-gap: 70px 10px;
      justify-items: center;
      align-items: flex-start;
      text-align: center;
      .cardImage {
        display: flex;
        justify-content: center;
        height: 159px;
        @media (max-width: 1200px) {
          height: 111px;
        }
        @media (max-width: 800px) {
          height: auto;
          width: 50px;
          margin: auto;
        }
        @media (max-width: 680px) {
          margin: 0;
        }
      }

      @media (max-width: 680px) {
        grid-gap: 0;
      }
      @media (max-width: 1530px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }
      @media (min-width: 1010px) and(max-width: 1050px) {
        margin: 0 70px;
      }

      @media (max-width: 680px) {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        height: 100%;
      }

      @media (max-height: 700px) and(max-width: 450px) {
        height: 100%;
      }
      .cardBase {
        @media (max-width: 680px) {
          width: 100%;
          max-width: 350px;
          margin: 5px 0;
          max-height: 63px;
        }

        .card {
          p {
            font-family: "Roboto" !important;
            font-size: 18px !important;
          }
          @media (max-width: 680px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 10px 20px;
            background: rgba(0, 0, 0, 0.05);
            width: 100%;
            border-radius: 8px;
            justify-content: center;
            max-height: 63px;
          }
        }
      }
      .content {
        min-height: 95px;

        @media (max-width: 1530px) {
          min-height: auto;
          max-width: 230px;
        }
        @media (max-width: 1200px) {
          p {
            display: none;
          }
        }

        @media (max-width: 680px) {
          display: flex;
          align-items: center;
        }

        p,
        h3 {
          margin: 0.5em;
          line-height: 26px;
        }
        h3 {
          @media (max-width: 1530px) {
            font-size: 18px;
            font-weight: bold;
          }
          @media (max-width: 680px) {
            margin: 0;
            line-height: normal;
            text-align: left;
            margin-bottom: -7px;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      min-height: 150px;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 1530px) {
        justify-content: center;
      }
      @media (max-width: 680px) {
        min-height: auto;
        margin-top: 2vh;
      }
      @media (max-width: 450px) {
        margin-top: 10px;
      }
      > * {
        margin: 0 57px;
        @media (max-width: 1530px) {
          margin: 0;
        }
      }

      .zebraContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 680px) {
          flex-direction: column;
          align-items: flex-start;
        }
        img {
          margin: 0 55px;
          @media (max-width: 680px) {
            margin: 0;
            max-width: 50%;
          }
        }
      }
      .zebra {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline;
            font-size: 36px;
            @media (max-width: 680px) {
              font-size: 20px;
            }
            &:first-child {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.fifthSection {
  padding-right: 20px;
  padding-left: 20px;
  justify-content:flex .left {
    display: flex;
    @media (max-width: 768px) {
      display: grid;
      line-height: 0;
      margin: auto !important;
    }
    @media (max-width: 1024px) {
      margin: auto 20px;
    }
  }
  .right {
    max-width: 488px;
  }
  .ul {
    max-width: 450px;
  }
}

.sixthSection {
  justify-content: center;
  .backgroundLayer {
    @media (max-width: 1300px) {
      background-image: unset !important;
    }
  }
  h2 {
    max-width: 900px;
    text-align: center;
    @media (max-width: 1300px) {
      background-image: unset !important;
    }
    @media (max-width: 600px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    @media (max-width: 600px) and (max-height: 700px) {
      margin-bottom: 0 !important;
    }
  }
}

.seventhSection {
  @media (max-width: 400px) and (max-height: 700px) {
    padding-bottom: 100px;
  }
  &.grid {
    justify-content: flex-start;
  }
  .right {
    max-width: 550px;
    width: 100%;
    margin-right: 15px;
    @media (max-width: 1024px) {
      margin-right: 20px;
      margin-left: 20px;
      width: 90%;
    }
    @media (max-width: 1024px) and (max-height: 850px) {
      h2 {
        font-size: 18px;
      }
    }
    @media (max-width: 1366px) {
      max-width: 550px;
    }
  }
  .left {
    align-items: center;
    @media (max-width: 1300px) {
      margin: 0;
    }
    img {
      @media (max-width: 400px) and (max-height: 700px) {
        width: 60%;
      }
    }
  }
}
.eightSection {
  color: white;
  @media (max-width: 768px) {
    padding: 60px 0 88px 0 !important;
  }
  .right {
    max-width: 650px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

    @media (min-width: 1020px) and(max-width: 1030px) {
      width: 100%;
      max-width: 900px;
    }
    @media (max-width: 1024px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
      margin-right: 0px;
      // height: 100%;
      padding: 0 27px;
    }

    .addressBlock {
      display: flex;
      justify-content: space-between;
      & > div {
        width: 50%;
      }
      @media (max-width: 1024px) {
        justify-content: space-around;
        width: 100%;
      }
      @media (max-width: 600px) {
        justify-content: space-between;
      }
    }
    address {
      font-style: normal;
    }
    h2 {
      @media (max-width: 500px) {
        font-size: 18px;
        line-height: normal;
      }
    }
    h3 {
      font-size: 25px;
      font-family: Rubik, sans-serif;
      font-weight: bold;
      @media (max-width: 500px) {
        font-size: 15px;
        line-height: normal;
      }
    }
    .introButton {
      margin-top: 26px;
      background-color: white;
      color: $accent-color;
      @media (max-width: 1024px) {
        margin-top: 16px;
      }
      @media (min-width: 1020px) and(max-width: 1030px) {
        margin-top: 80px;
      }
    }
  }
  .left {
    // margin: auto 40px auto auto;
    margin: 0;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      // margin: 30px 10px;
      width: 100%;
      // height: 100%;
      padding: 5px 20px;
      justify-content: initial;
    }
    @media (max-width: 450px) {
      margin: auto;
    }
    img {
      @media (max-width: 400px) and (max-height: 700px) {
        height: 28vh;
        width: auto;
      }
    }
  }
}

.last {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  height: 100%;
  background: white;
  .ul,
  .li {
    margin: 0;
    padding: 0;
  }

  .ul {
    align-self: center;
  }

  .li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 1.7rem;
  }
}

.popover {
  padding: 0 13px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
