@import "../../global_variables.scss";

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 10px 40px;
  grid-template-areas: "avatar content_text" "avatar name" "avatar company";
  max-width: 900px;
  max-height: 400px;
  color: $invert-text-color;
  padding: 15px;
  @media (max-width: 880px) {
    max-height: 540px;
    margin-top: 10px;
  }
  @media (max-width: 800px) {
    grid-template-columns: auto;

    grid-template-areas: "avatar " "content_text " "name " "company ";
    grid-template-rows: min-content min-content min-content min-content;
  }
  background: green;
}

.avatar {
  grid-area: avatar;
  display: flex;
  align-items: flex-start;
  background: red;

  .frame {
    background: brown;

    width: 100%;
    max-width: 134px;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    @media (max-width: 800px) {
      margin: 0px;
      // display: flex;
    }
    @media (max-width: 450px) {
      max-width: 100px;
    }
    img {
      width: 100%;
    }
  }
}

.content_text {
  margin: 100px 10px 40px 0px;
  grid-area: content_text;
  overflow-y: auto;
  background: blue;

  @media (max-width: 800px) {
    margin: 10px 0;
    max-width: 90%;
  }
  @media (max-width: 450px) {
    max-width: 100%;
  }
}

.name {
  grid-area: name;
  font-weight: bold;
}

.company {
  grid-area: company;
  color: $primary-color;
}

.verticalCarousel {
  max-height: 400px;
  overflow: hidden;
  @media (max-width: 880px) {
    // max-height: 540px;
  }
}
.swiper {
  position: relative;
  @media (max-width: 840px) {
    background-image: unset !important;
  }
  .semi {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 2;
    @media (max-width: 840px) {
      display: none;
    }
  }
  .pagination {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    z-index: 12;
    cursor: pointer;
    transition: all 0.3s ease-out;
    @media (max-width: 800px) {
      transform: rotate(90deg);
      right: -20px;
      top: 66px;
      width: 135px;
    }
    @media (max-width: 450px) {
      width: 97px;
      top: 59px;

      div {
        height: 29px;
        width: 29px;
      }
      img {
        height: 29px;
        width: 29px;
      }
    }
    > div {
      display: flex;
      margin: 0 10px;
    }
  }
}
