@import "../../global_variables.scss";

.pagination,
.paginationBullet {
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}
.pagination {
  width: 100%;
  height: 90px;
  background-position: top 36px left 4px;
  background-repeat: no-repeat;
  background-size: 1537px;
  max-width: 1540px;
  position: relative;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 100px;
  z-index: 200;
}
.paginationBullet {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .point {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: $accent-color;
    &.invertedBackgroundColor {
      background: white;
    }
  }
  .bullet {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .caption {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.active {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  background: rgba(64, 61, 55, 0.4);
}
.invertedBackgroundColor {
  background: rgba(255, 255, 255, 0.4);
}
.counter {
  position: absolute;
  bottom: -6px;
  left: -5px;
  font-size: 12px;
}
