@import "../../global_variables.scss";

.navbar {
  height: 100px;
  justify-content: space-between;
  @media (max-height: 800px) and(max-width:700px) {
    height: 80px;
  }
  @media (max-width: 768px) {
    height: 80px;
  }

  .linkSection {
    @media (max-width: 1400px) {
      margin-bottom: 20px;
    }
    @media (max-height: 800px) and(max-width:700px) {
      margin-right: 30px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      margin-right: 30px;
      margin-bottom: 0px;
      line-height: normal;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
.onlyDesktop {
  &:nth-child(4) {
    @media (max-width: 1400px) {
      display: none !important;
    }
  }
}
.navLink {
  display: flex;
  height: 40px;
  margin-right: 35px;
  padding-right: 35px;
  font-size: 23px;
  transition: text-shadow 0.3s;
  &.onlyDesktop {
    &:nth-child(1) {
      @media (max-width: 1400px) {
        display: none !important;
      }
    }
    &:nth-child(2) {
      @media (max-width: 1400px) {
        display: none !important;
      }
    }
  }
  &:hover {
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  }
  &.planeLink {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 35px;
    border-bottom: 1px dashed $accent-color;
  }
}
.plane {
  position: absolute;
  left: 90%;
  top: 45px;
}

.mobile {
  @media (max-width: 1400px) {
    display: none !important;
  }
}

.logo {
  @media (max-width: 768px) {
    max-width: 116px;
  }
}
