@import "./global_variables.scss";

.inForm {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 210;
  outline: none;

  @media (max-width: 1580px) {
    width: 100%;
  }
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  background: $primary-color;
  box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.42);
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 1024px) {
    width: 90vw;
  }
  &.inverted {
    box-shadow: -3px -1px 20px rgba(0, 0, 0, 0.42);
  }
  .formSlider {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 100px 140px;
    @media (max-width: 1580px) {
      padding: 100px 60px;
    }
    @media (max-width: 1025px) {
      padding: 50px 100px;
    }
    @media (max-width: 668px) {
      padding: 50px 30px;
    }
  }
}
.closed {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 27px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    top: 11px;
    right: 10px;
  }
}
