@import "./global_variables.scss";
.mySlider {
  position: relative;
  width: 100%;
  height: 100%;
}
.pagination {
  top: 0;
  bottom: auto;
}
.mySlider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .pagination {
      display: flex;
      width: 100%;
      justify-content: space-between;
      max-width: 520px;
      background: url(../../assets/imgs/puntier.svg);
      background-position: center;
      height: 11px;
      align-items: center;
      &.inverted {
        background: url(../../assets/imgs/puntierBlue.svg);
        background-position: center;
      }
      .bulletContainer {
        display: flex;
        width: 13px;
        height: 13px;
        align-items: center;
        justify-content: center;
        .bullet {
          width: 7px;
          height: 7px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          &.active {
            background-color: rgba(255, 255, 255);
          }
          &.inverted {
            background-color: rgba(64, 61, 85, 0.7);
            &.active {
              background-color: rgba(64, 61, 85);
            }
          }
        }
      }
    }
  }
  .sliderContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header {
      color: white;
      padding-right: 20%;
      padding-bottom: 8%;

      &.inverted {
        color: $accent-color;
      }
      @media (max-height: 1200px) {
        padding-right: 0;
      }
    }
    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-right: 10%;
      @media (max-width: 768px) {
        padding-right: 0%;
      }
    }
  }
  .press {
    color: white;
    width: 180px;
    background: url(../../assets/imgs/nextArrow.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      display: none;
    }
    &.inverted {
      color: $accent-color;
      background: url(../../assets/imgs/nextArrowBlue.svg);
      background-repeat: no-repeat;
      background-position: center right 20px;
    }
  }
  .button {
    background-color: white;
    box-shadow: 0px 2px 15px rgba(252, 244, 243, 0.62);
    color: $accent-color;

    &.inverted {
      color: white;
      background-color: $accent-color;
    }
  }
}

//FORM STYLES
.form {
  display: flex;
  height: 100%;
  position: relative;
}
.label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
.fieldRow {
  height: 80px;
  @media (max-height: 850px) {
    height: 60px;
  }
}
.fieldRowMultiple {
  display: flex;

  h4 {
    margin: 0;
    color: white;
  }
}
.input {
  width: 100%;
  // max-width: 620px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid white;
  background: $primary-color;
  color: white;
  cursor: pointer;
  &::placeholder {
    font-style: "Roboto", sans-serif !important;
    color: rgba(255, 255, 255, 0.4);
  }
  &.inverted {
    background-color: transparent;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;

    &::placeholder {
      color: rgba(46, 44, 65, 0.4);
    }
  }
}
.input::placeholder {
  font-style: "Roboto", sans-serif !important;
}
.date_input {
  cursor: pointer;
}
.textareaRow {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
    color: white;
  }
  &.inverted h4 {
    color: $accent-color;
  }
}
.textfield {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  min-height: 53px;
  max-width: 510px;
  &.inverted {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
  &:focus {
    outline: 0;
  }
  @media (max-height: 850px) {
    height: 60px;
  }
}

.slider {
  margin-top: 15px;
}

.button {
  width: 100%;
}

.errorMessage {
  color: white;
  font-size: 12px;
  &.inverted {
    color: $accent-color;
  }
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  &.inverted {
    color: $accent-color;
  }
  &.inverted {
    input {
      &::before {
        border: 1px solid $accent-color;
      }
    }
  }
  &.inverted {
    input {
      &::after {
        background: url(../../assets/imgs/matchBlue.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 7px 0;
    .labelText {
      margin-left: 42px;
    }
    input {
      position: relative;
      width: 0;
      height: 0;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: -7px;
        width: 30px;
        height: 30px;
        background: url(../../assets/imgs/match.svg);
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease-in-out;
        transform: scale(0) rotate(-45deg);
        transform-origin: bottom center;
      }
      &:checked::after {
        transform: scale(1) rotate(0);
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 22px;
        height: 22px;
        border: 1px solid white;
        @media (max-width: 768px) {
          top: -2px;
        }
      }
    }
  }
}

.euro {
  position: absolute;
  right: 5px;
  bottom: 25px;
  color: white;
  @media (max-width: 768px) {
    bottom: 42px;
  }
}
